@{
	Layout="Shared/_Layout.cshtml";
}
<h3>@Model["venue"].GetLocation()</h3>
<div id="wrap">
	<div>
		<a class="btn btn-default add right-fix" href='/venue/@Model["venue"].GetId()/update'>Edit Location</a>
	</div>
	<form action='/venue/@Model["venue"].GetId()/delete' method="post">
		<input type="hidden" name="_method" value="DELETE">
		<button class="btn btn-default delete" type="submit">Delete Location</button>
	</form>
</div>
@if(@Model["venueBands"].Count <= 0)
{
	<div>This venue has no bands.</div>
}
else
{
	<div>The following bands are playing this venue:</div>
	<ul>
		@foreach(var band in @Model["venueBands"])
		{
			<li>@band.GetName()</li>
		}
	</ul>
}
@if(@Model["allBands"].Count <=0)
{
	<div>There are no bands available to add. Please add a <a href="/bands/new">band</a>.</div>
}
else
{
	<div>Would you like to add another band to this venue?</div>
	<form action='/venue/add_band' method='post'>
		<div class="form-group">
		  <input id='venue-id' name='venue-id' type='hidden' value='@Model["venue"].GetId()'>
		  <select class="form-control" name='band-id' type='text'>
		    @foreach (var band in @Model["allBands"])
		    {
		      <option value='@band.GetId()'>@band.GetName()</option>
		    }
		  </select>
		  <button class="btn btn-default add" type='submit'>Add</button>
		</div>
	</form>
}
<p><a href="/">Home</a></p>
